body {
    max-width: 1280px;
    margin: auto;
    font-family: 'open sans', sans-serif;
    background: #f2f2f2
}

.white,
.white a:link,
.white a:visited {
    color: white;
}

header nav img {
    border-radius: 50%;
}

:link:hover { background-color: yellow; }

a:link,
a:visited {
    color: #000000;
}

a:active {
    color:#FAEA5D;
  }

header address {
    font-size: 0.9em;
    font-style: italic;
}

main {
    max-width: 90%;
    margin: auto
}

main p {
    font-family: 'Open Sans',sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#map {
    width: 80%;
    height: 90vh;
    border: 1px solid gray;
    margin: auto;
    float: left;
}

footer .next {
    float: right;
}

footer .back {
    float: left;
}

footer {
    padding: 1em 0 3 em 0;
    font-family: 'open sans', sans-serif;
    color: #000000;
}

i {
    padding-right: 0.3em;
}